body {
  background: #222;
  color: white;
  font-family: sans-serif;
}

main {
  margin: 0 auto;
  min-width: 500px;
  width: 90%;
}

.spotify-lookup {
  background: green;
  border-radius: 3px;
  float: left;
  min-height: 50%;
  padding: 10px;
  width: 45%;
}

.spotify-lookup input {
  background: white;
  border: 0;
  border-bottom: 1px solid black;
  display: inline-block;
  padding: 5px 10px;
  width: 40%;
}

.spotify-lookup button {
  background: #ddd;
  border: 1px solid black;
  padding: 5px 10px;
}

.spotify-results {
  margin: 0 -10px;
}

.spotify-results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.spotify-results li {
  border-bottom: 1px solid black;
  margin: 5px 0;
  padding: 2px 5px;
}

.youtube-lookup {
  background: red;
  border-radius: 3px;
  float: right;
  min-height: 50%;
  padding: 10px;
  width: 45%;
}

.clear::after {
  clear: both;
  content: '';
  display: block;
}
