body {
  background: #222;
  color: white;
  font-family: sans-serif;
}

main {
  margin: 0 auto;
  min-width: 800px;
  width: 90%;
}

.lookup {
  border-radius: 3px;
  min-height: 30%;
  padding: 10px;
  position: relative;
  width: 45%;
}

.lookup button {
  background: white;
  border: 1px solid black;
  border-radius: 50px;
  color: black;
  cursor: pointer;
  font-size: 10px;
  font-weight: 700;
  padding: 5px;
  text-transform: uppercase;
  transition: background .5s, color .5s, transform .5s;
}

.lookup button:hover {
  background: black;
  color: white;
}

.lookup hr {
  background: #222;
  border: 0;
  height: 3px;
  margin: 10px -10px;
}

.lookup input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid black;
  color: white;
  display: inline-block;
  padding: 5px 10px;
  width: 40%;
}
.lookup input::placeholder {
  color: #ccc;
}

.section-name {
  font-size: 30px;
  font-variant: small-caps;
  letter-spacing: 0.3em;
  margin: 10px 0 0;
  opacity: 0.3;
}

.lookup-form {
  min-height: 75px;
}

.lookup-results {
}

.lookup-results ul {
  list-style: none;
  margin: 15px -10px;
  padding: 0;
}

.lookup-results li {
  border-bottom: 1px solid black;
  font-size: 11px;
  margin: 10px 0;
  padding: 2px 20px;
}

.artist {
  font-style: italic;
  opacity: 0.8;
}

.lookup.spotify {
  background: green;
  float: left;
}

.spotify-name {
  margin: -25px 0 0;
  text-align: right;
}

.lookup.youtube {
  background: red;
  float: right;
}

.lookup .youtube-lookup-btn:hover {
  background: green;
}

.lookup .youtube-lookup-hidden {
  transform: scale(0, 0);
}

.create-playlist-btn {
  float: right;
  margin-top: -30px;
  position: relative;
  z-index: 1;
}

.youtube-player {
  clear: both;
  padding: 20px;
}

.youtube-frame {
  margin: 10px;
  text-align: center;
}

.clear::after {
  clear: both;
  content: '';
  display: block;
}

button:disabled {
  opacity: 0;
}
