<div class="lookup-form">
  <button type="submit" ng-click="spotifyCtrl.getToken()">Get Token</button>
  <hr />
  <input type="text" ng-model="spotifyCtrl.userId" name="user-id" placeholder="User ID" />
  <input type="text" ng-model="spotifyCtrl.playlistId" name="playlist-id" placeholder="Playlist ID" />
  <button type="submit" ng-click="spotifyCtrl.fetch()">gogo</button>
</div>

<div class="lookup-results">
  <ul>
    <li ng-repeat="entry in tracksArr">
      {{ entry.track.name }} <span class="artist">{{ entry.track.artists[0].name }}</span>
    </li>
  </ul>
  <h2 class="section-name">spotify</h2>
</div>
